vehicles_data/Acura.json
vehicles_data/Alfa-Romeo.json
vehicles_data/Aston-Martin.json
vehicles_data/Audi.json
vehicles_data/Bentley.json
vehicles_data/BMW.json
vehicles_data/Bugatti.json
vehicles_data/Buick.json
vehicles_data/Cadillac.json
vehicles_data/Chevrolet.json
vehicles_data/Chrysler.json
vehicles_data/Dodge.json
vehicles_data/Ferrari.json
vehicles_data/Ford.json
vehicles_data/Genesis.json
vehicles_data/GMC.json
.gitignore
vehicles_data/Honda.json
vehicles_data/Hyundai.json
vehicles_data/Infiniti.json
vehicles_data/Jaguar.json
vehicles_data/Jeep.json
vehicles_data/Kia.json
vehicles_data/Lamborghini.json
vehicles_data/Land-Rover.json
vehicles_data/Lexus.json
vehicles_data/Lincoln.json
vehicles_data/Lotus.json
vehicles_data/Maserati.json
vehicles_data/Mazda.json
vehicles_data/McLaren.json
vehicles_data/Mercedes-Benz.json
vehicles_data/Mini.json
vehicles_data/Mitsubishi.json
vehicles_data/Nissan.json
vehicles_data/Polestar.json
vehicles_data/Porsche.json
vehicles_data/Ram.json
vehicles_data/Rolls-Royce.json
vehicles_data/Scion.json
vehicles_data/Smart.json
vehicles_data/Subaru.json
vehicles_data/Suzuki.json
vehicles_data/Tesla.json
vehicles_data/Toyota.json
vehicles_data/Volkswagen.json
vehicles_data/Volvo.json
off_data/user_info.txt
off_data/train_data.txt
off_data/test_data.txt
off_data/readme.txt
off_data/doc_info.txt
